name: 'Terraform'

on: [push, workflow_dispatch]

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        shell: bash
    steps:
    # Checkout the repository to the GitHub Actions runner
      - name: code checkout
        uses: actions/checkout@v5

    #Connect AWS account with OIDC Provider
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          audience: sts.amazonaws.com
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::805702559038:role/Github_Actions_EKS_Repo
      
    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
      - name: Terraform Init
        run: terraform init

    # # Checks that all Terraform configuration files adhere to a canonical format
    #   - name: Terraform Format
    #     run: terraform fmt -check

    # Generates an execution plan for Terraform
      - name: Terraform Plan
        run: terraform plan -var-file=terraform.tfvars